<!DOCTYPE html>
<html>
<head>
    <title>{{ active_page }}</title>
    <link rel="stylesheet" type="text/css" href="/bulma.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/jquery.js"></script>

</head>
<body>
<body class="container">
<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="/">
                <img src="/logo.png" alt="Imputer logo">
            </a>
            {% for short, name in config.navigation_tabs %}
            <a href="{{ short }}"
               class="nav-item is-tab is-hidden-mobile {% if short == active_page %} is-active {% endif %}">
                {{name}}
            </a>
            {% endfor %}
        </div>
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet is-active">{{ _('Menu') }}</a>
            <a class="nav-item is-tab is-hidden-tablet">{{ _('Add') }}</a>
            <a class="nav-item is-tab is-hidden-tablet">{{ _('Search') }}</a>
            <a class="nav-item is-tab is-hidden-tablet">{{ _('About') }}</a>
            <a href="/selected/" class="nav-item is-tab {% if active_page == "/selected/" %} is-active {% endif
            %}">Zaznaczone!</a>
        </div>
    </div>
</nav>
<div class="tabs is-small">

</div>
<div class="empty"></div>

<section class="section">
    <div class="container">
        {% block content %}
        {% endblock %}
        <div class="empty"></div>
        {% if images is defined %}
        <output>
            {% include "cards.html" %}
        </output>
        {% endif %}

    </div>
</section>
<script src="/script.js"></script>
</body>
</html>